<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Account Creation</title>
</head>
<body>
	<section id="create">
		<div class="container">
	        <h1>Create an account!</h1>
	        <form>
		        <br><p>First Name</p><input type="text" placeholder="First Name"><br>
		        <p>Last Name</p><input type="text" placeholder="Last Name"><br>
	        	<p>Username</p><input type="text" placeholder="Username"><br>
	        	<p>Password</p><input type="password" placeholder=""><br>
	          	<p>Email</p><input type="email" placeholder="E-mail"><br>
	          	<br><button type="submit" class="btn_1">Submit</button>
	        </form>
	     </div>
	</section>
</body>
</html>