@charset "ISO-8859-1";
body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4
}

/*Global section
. (dot) operator for classes
# for id*/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.btn_1 {
  height: 38px;
  background: #35424a;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #ffffff 3px solid;
}



header h1 {
  color: #ffffff;
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px
}

header .highlight, header .current a {
  color: #ffffff;
  font-weight: bold;
}

#back {
  background: url('../assets/bk.jpg') no-repeat 0 -500px;
  min-height: 400px;
  text-align: center;
  color: #ffffff;
}

#back h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#back p {
  font-size: 30px;
}

/*Newsletter*/

/* Options */
#options {
  margin-top: 20px;
}

#options .option {
  float: left;
  text-align: center;
  width: 40%;
  padding: 50px;
}


footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #35424a;
  text-align: center;
}
