@charset "ISO-8859-1";
body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4
}

/*Global section
. (dot) operator for classes
# for id*/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.btn_1 {
  height: 38px;
  background: #35424a;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #ffffff 3px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px
}

header .highlight, header .current a {
  color:  #ffffff;
  font-weight: bold;
}

#greeting{
	float: center;
  text-align: center;
  width: 30%;
  padding: 10px;
	
}




/* Options */
#options {
  margin-top: 20px;
}

#options .option {
  float: left;
  overflow: hidden;
  text-align: center;
  width: 20%;
  padding: 50px;
}



table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color:#fff;
}
table th {
    background-color: black;
    color: white;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color:  #ffffff;
  text-align: center;
}

