<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <servlet>
  	<servlet-name>CreateServlet</servlet-name>
  	<servlet-class>com.revature.controllers.CreateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IndexServlet</servlet-name>
  	<servlet-class>com.revature.controllers.IndexServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WelcomeServlet</servlet-name>
  	<servlet-class>com.revature.controllers.WelcomeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>CreateServlet</servlet-name>
  	<url-pattern>/CreateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IndexServlet</servlet-name>
  	<url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WelcomeServlet</servlet-name>
  	<url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
</web-app>
