<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- ServletContext - configuration for all servlets, loaded on init() -->
 
  
 
  <servlet>
  	<servlet-name>CreateServlet</servlet-name>
  	<servlet-class>com.revature.controllers.CreateServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>IndexServlet</display-name>
  	<servlet-name>IndexServlet</servlet-name>
  	<servlet-class>com.revature.controllers.IndexServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>CreateServlet</servlet-name>
  	<url-pattern>/CreateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IndexServlet</servlet-name>
  	<url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  
</web-app>
